<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1074530652876-9eeongqb1jai8ui1njqic3jlok57aafl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1074530652876-9eeongqb1jai8ui1njqic3jlok57aafl</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1074530652876-0rtkunf1gvd91p42gr0vj1jqq2i6p8rf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCoCUrU9oY9t71O583xXlEIGbyoHZ53GqM</string>
	<key>GCM_SENDER_ID</key>
	<string>1074530652876</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.softec25.ai</string>
	<key>PROJECT_ID</key>
	<string>personal-ai-life-assistant</string>
	<key>STORAGE_BUCKET</key>
	<string>personal-ai-life-assistant.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1074530652876:ios:235cac1ee59f18a131e869</string>
</dict>
</plist>